<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- POST_NOTIFICATIONS is already declared by the app manifest. -->
    <application>
        <receiver
            android:name="app.waffled.feature.settingshousehold.EventReminderReceiver"
            android:exported="false" />
    </application>
</manifest>
